/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/codex/phpdoc
/codex-addons
/*.key
/*.crt
/*.cert
/*.pem
/*.csr
/.phpstorm.meta.php
/_ide_helper.php
/resources/.docs
/.tmp
/sites
/.idea
/jenkins
/build.tar
/jenkins-shared
